* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--main-color);
  background: #fff;
}
.logo {
  font-family: "Paytone One", sans-serif;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
