@media screen and (min-width: 1450px) {
  .topmenulogo,
  .tb {
    display: none;
  }
  /* ///// footer ///// */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 210px;
    padding: 0 200px;
    bottom: 0;
    color: #707070;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
  }
  .footerleft h6 {
    margin-bottom: 5px;
  }
  .footerleft h6,
  .footerleft p {
    font-size: 16px;
  }
  .footerright {
    display: flex;
    align-items: center;
  }
  .footerright .footersnsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    height: 34px;
    margin: 0 30px;
    font-size: 34px;
    color: #979797;
  }
  .footerright .sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 25px;
    padding: 0 5px;
    font-size: 14px;
    border: 1px solid #d5d5d5;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1449px) {
  .topmenulogo,
  .tb {
    display: none;
  }
  /* ///// footer ///// */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 210px;
    padding: 0 50px;
    bottom: 0;
    color: #707070;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
  }
  .footerleft h6 {
    margin-bottom: 5px;
  }
  .footerleft h6,
  .footerleft p {
    font-size: 16px;
  }
  .footerright {
    display: flex;
    align-items: center;
  }
  .footerright .footersnsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    height: 35px;
    margin: 0 30px;
    font-size: 35px;
    color: #979797;
  }
  .footerright .sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 25px;
    padding: 0 5px;
    font-size: 14px;
    border: 1px solid #d5d5d5;
  }
}

@media screen and (min-width: 660px) and (max-width: 1049px) {
  .topmenu,
  .pc {
    display: none;
  }
  /* ///// footer ///// */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 300px;
    padding: 50px 50px 130px 50px;
    bottom: 0;
    color: #707070;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
  }
  .footerleft h6 {
    margin-bottom: 2px;
  }
  .footerleft h6,
  .footerleft p {
    font-size: 16px;
  }
  .footerleft p span {
    margin-right: 15px;
  }
  .footerright {
    display: flex;
    align-items: center;
  }
  .footerright .footersnsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    height: 35px;
    margin: 0 30px;
    font-size: 35px;
    color: #979797;
  }
  .footerright .sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 25px;
    padding: 0 5px;
    font-size: 14px;
    border: 1px solid #d5d5d5;
  }
}

@media screen and (max-width: 659px) {
  .topmenu,
  .footerleft,
  .pc {
    display: none;
  }
  /* ///// footer ///// */
  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 15px;
    bottom: 0;
    color: #707070;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
  }
  .footerright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .footerright .footersnsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    height: 35px;
    font-size: 30px;
    color: #979797;
  }
  .footerright .sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 25px;
    padding: 0 5px;
    font-size: 14px;
    border: 1px solid #d5d5d5;
  }
}

/* ///// 360px 이하 출력 방지 ///// */
/* @media screen and (max-width: 359px) {
  #toosmall {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 999;
  } */
