@media screen and (min-width: 1450px) {
  .topmenulogo,
  .tb {
    display: none;
  }
  /* ///// header ///// */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    background: rgba(43, 46, 74, 0.7);
  }
  .logobox {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-top: -5px;
    font-size: 40px;
    color: #fff;
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
  }
  .logo span {
    color: #f771d1;
  }

  .topmenu a {
    margin-left: 16px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1449px) {
  .topmenulogo,
  .tb {
    display: none;
  }
  /* ///// header ///// */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 50px;
    background: rgba(43, 46, 74, 0.7);
  }
  .logobox {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-top: -5px;
    font-size: 40px;
    color: #fff;
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
  }
  .logo span {
    color: #f771d1;
  }

  .topmenu a {
    margin-left: 16px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 660px) and (max-width: 1049px) {
  .topmenu,
  .pc {
    display: none;
  }
  /* ///// header ///// */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    background: rgba(43, 46, 74, 0.7);
  }
  .logobox {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-top: -2px;
    font-size: 36px;
    color: #fff;
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
  }
  .logo span {
    color: #f771d1;
  }

  .topmenulogo {
    font-size: 40px;
    color: #fff;
  }
  .topmenulogo i {
    margin-left: 16px;
  }
}

@media screen and (max-width: 659px) {
  .topmenu,
  .footerleft,
  .pc {
    display: none;
  }
  /* ///// header ///// */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    background: rgba(43, 46, 74, 0.7);
  }
  .logobox {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-top: -2px;
    font-size: 28px;
    color: #fff;
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
  }
  .logo span {
    color: #f771d1;
  }

  .topmenulogo {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #fff;
  }
  .topmenulogo i:first-child {
    font-size: 24px;
  }
  .topmenulogo i {
    margin-left: 16px;
  }
}
